{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/invoice.css'%}?v={% now 'U' %}">
    </head>
    <h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
    <div class="mini_menu">
        <h2><a href="{% url 'userApp:employee_home' %}">Dashboard</a></h2>
        <h2><a href="#" class="icon_link"><img src="{% static 'images/hex_plus.png' %}" alt="icon" class="icon"><span>Add New Invoice</span></a></h2>
    </div>
    <div class="detail">
        <h3>Open Invoices</h3>
        <table class="entry alt_entry">
            <tr>
                <th>Invoice Number</th>
                <th>Company</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            {% for u in unpaid %}
                <tr>
                    <td><a href="#">{{u.number}}</a></td>
                    <td><a href="{% url 'company_staff:company_detail' u.pk %}">{{u.company}}</a></td>
                    <td>{{u.total}}</td>
                    <td>{{u.status}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Open Invoices</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="detail">
        <h3>Paid Invoices</h3>
        <table class="entry alt_entry">
            <tr>
                <th>Invoice Number</th>
                <th>Company</th>
                <th>Total</th>
            </tr>
            {% for p in paid %}
                <tr>
                    <td><a href="#">{{p.number}}</a></td>
                    <td><a href="{% url 'company_staff:company_detail' p.pk %}">{{p.company}}</a></td>
                    <td>{{p.status}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Paid Invoices</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
