{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/company.css'%}?v={% now 'U' %}">
</head>
<h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
<div class="mini_menu">
    <h2><a href="{% url 'userApp:employee_home' %}">Dashboard</a></h2>
    <h2><a href="{% url 'company_staff:add_company' %}" class="icon_link"><img src="{% static 'images/hex_plus.png' %}" alt="icon" class="icon"><span>Add New Company</span></a></h2>
</div>
<div class="detail">
    <h3>Propsects</h3>
    <table class="entry alt_entry">
        <tr>
            <th>Company Name</th>
            <th>Status</th>
            <th>Last Contact Date</th>
        </tr>
        {% for p in prospects %}
            <tr>
                <td><a href="#">{{p.company_name}}</a></td>
                <td>{{p.status}}</td>
                <td>{{p.last_contacted_at}}</td>
            </tr>
        {% empty %}
        <tr>
            <td>No prospects found</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="detail">
    <h3>Companies</h3>
    <table class="entry alt_entry">
        <tr>
            <th>Company Name</th>
            <th>Client Status</th>
            <th>Pipeline Status</th>
        </tr>
        {% for c in companies %}
            <tr>
                <td><a href="{% url 'company_staff:company_detail' c.pk %}">{{ c.name }}</a></td>
                <td>{{c.status}}</td>
                <td>{{c.pipeline_status}}</td>
            </tr>
        {% empty %}
        <tr>
            <td>No companies found</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock content %}
