{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/company.css'%}?v={% now 'U' %}">
  </head>
<h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
<div class="mini_menu">
    <h2><a href="{% url 'userApp:employee_home' %}">Dashboard</a></h2>
    <h2><a href="{% url 'company_staff:view_all_companies' %}">Company List</a></h2>
</div>
<div class="info">
  <h3>Company Information:</h3>
  <table class="entry">
    <tr>
      <th>Company Name:</th>
      <td>{{company.name}}</td>
    </tr>
    <tr>
      <th>Primary Contact Name:</th>
      <td>{{company.primary_contact_name}}</td>
    </tr>
    <tr>
      <th>Primary Email:</th>
      <td>{{company.primary_email}}</td>
    </tr>
  </table>
</div>
<div class="info">
  <h3>Status</h3>
  <table class="entry">
    <tr>
      <th>Current Client Status:</th>
      <td>{{company.status}}</td>
    </tr>
    <tr>
      <th>Current Pipeline Status:</th>
      <td>{{company.pipeline_status}}</td>
    </tr>
  </table>
</div>

{% endblock content %}