{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/user.css'%}?v={% now 'U' %}">
    </head>
  <h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
  <div class="info">
    <h3>Your information:</h3>
    <table class="entry">
      <tr>
        <th>First Name:</th>
        <td>{{user.first_name}}</td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>{{user.last_name}}</td>
      </tr>
      <tr>
        <th>Username:</th>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Discord:</th>
        <td>{{profile.discord_handle}}</td>
      </tr>
    </table>
  </div>
  <div class="info">
    <h3>Job Information</h3>
    <table class="entry">
      <tr>
        <th>Job Title:</th>
        <td>{{profile.job_title}}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{profile.work_email}}</td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td>{{profile.work_phone}}</td>
      </tr>
      <tr>
        <th rowspan="3">Address</th>
        {% if profile.city %}
          {% if profile.address_line1 %}
            <td><address>{{profile.address_line1}}</address></td>
          {% endif %}
          {% if profile.address_line2 %}
            <td><address>{{profile.address_line2}}</address></td>
          {% endif %}
          <td><address>{{profile.city}}, {{profile.state_region}} {{profile.postal_code}} {{profile.country}}</address></td>
        {% else %}
        <td>No address on file</td>
        {% endif %}
      </tr>
    </table>
  </div>
{% endblock content %}