{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/proposal.css'%}?v={% now 'U' %}">
  </head>
<h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
<div class="mini_menu">
    <h2><a href="{% url 'userApp:employee_home' %}">Dashboard</a></h2>
    <h2><a href="{% url 'proposal_staff:proposal_home' %}">Proposal Home</a></h2>
    <h2><form method="post" action="{% url 'proposal_staff:proposal_generate_pdf' proposal.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Create / Recreate PDF</button>
  </form></h2>
  <h2>{% if proposal.pdf %}
    <a href="{% url 'proposal_staff:proposal_pdf' proposal.id %}" target="_blank" rel="noopener">View PDF</a>
  {% else %}
    <span style="opacity:.7;">No PDF yet</span>
  {% endif %}</h2>
</div>
<div class="detail">
    <h3>{{proposal.title}}</h3>
    <table class="entry">
        <tr>
            <th>Company Name</th>
            <td><a href="{% url 'company_staff:company_detail' proposal.company_id %}">{{proposal.company}}</a></td>
        </tr>
        <tr>
            <th>Contact</th>
            {% if proposal.contact_name %}
                <td>{{proposal.contact_name}} {{company.primary_contact_name}}</td>
            {% else %}
                <td>TBD</td>
            {% endif %}
        </tr>
        <tr>
            <th>Email</th>
            {% if proposal.contact_email %}
                <td>{{proposal.contact_email}}</td>
            {% else %}
                <td>TBD</td>
            {% endif %}
        </tr>
    </table>
</div>
<div class="detail">
    <h3>Totals</h3>
    <table class="entry">
        <tr>
            <th>Discount</th>
            <td>{{proposal.discount_amount}}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{proposal.amount_total}}</td>
        </tr>
    </table>
</div>
{% if items %}
    <div class="detail">
        <h3>proposal Items</h3>
        <table class="entry alt_entry">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            {% for i in items %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>${{i.line_total}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Subtotal</td>
                <td>${{proposal.amount_subtotal}}</td>
            </tr>
        </table>
    </div>
{% endif %}

{% endblock content %}