{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
    <head>
      <link rel="stylesheet" href="{% static 'css/company.css'%}?v={% now 'U' %}">
    </head>
    <h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
  
    <form method="post" novalidate>
      {% csrf_token %}
      <table class="add_form">
        {{ form.non_field_errors }}
        {% for field in form %}
          <tr class="{% if field.errors %} has-errors{% endif %}">
            <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
            <td>{{ field }}</td>
            {% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}
            {% for err in field.errors %}<p class="error">{{ err }}</p>{% endfor %}
          </tr>
        {% endfor %}
        </table>

      <div class="buttons">
        <a class="buttonLike" href="{% url 'company_staff:company_home' %}">Cancel</a>
        <button type="submit">Save Company</button>
      </div>
    </form>

{% endblock content %}
