:root {
  --yellow: #F2DB1A;
  --black: #000000;
  --background: #F7F6F0;
  --white: #F5F5F5;
  --green: #426e54;
  --yb_border: linear-gradient(5deg, #000000 25%, #f2db1a 75%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-display: swap;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yb-border {
  border: 4px groove transparent;
  border-image: var(--yb_border);
  border-image-slice: 1;
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body main form table th {
  text-align: left;
}
body main form table td input,
body main form table td select,
body main form table td textarea {
  margin: 0.2em 0.8em;
}
body main form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
body main form .buttons .buttonLike,
body main form .buttons button {
  padding: 10px 14px;
  border: 4px groove transparent;
  border-image: var(--yb_border);
  border-image-slice: 1;
  background-color: var(--green);
  color: var(--yellow);
  font-size: 1.1rem;
  text-decoration: none;
}
