:root {
  --yellow: #F3DB18;
  --black: #000000;
  --background: #F7F6F0;
  --white: #F5F5F5;
  --green: #426e54;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-display: swap;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: var(--background);
}
body #container {
  background-color: var(--background);
  color: var(--black);
}
body #container #header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow);
}
body #container #header #branding .admin_header {
  margin-top: 1em;
}
body #container #header #branding .admin_header a {
  color: var(--black);
  font-size: 1.3rem;
}
body #container #header #user-tools {
  color: var(--black);
  font-size: 1rem;
}
body #container #header #user-tools button {
  padding: 10px 14px;
  background-color: var(--black);
  color: var(--yellow);
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
}
body #container #header #user-tools a {
  color: var(--black);
  font-size: 1rem;
}
body #container #header #user-tools .theme-toggle {
  display: none;
}
body #container nav .breadcrumbs {
  background-color: var(--green);
  color: var(--white);
  font-size: 1.3rem;
}
body #container nav .breadcrumbs a {
  color: var(--white);
  font-size: 1.3rem;
}
body #container .main .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--background);
}
body #container .main .content .colMS h1 {
  color: var(--black);
  font-size: 1.3rem;
}
body #container .main .content .colMS #content-main {
  width: 150%;
}
body #container .main .content .colMS #content-main .module table caption {
  background-color: var(--green);
  font-size: 1rem;
}
body #container .main .content .colMS #content-main .module table tbody tr th a,
body #container .main .content .colMS #content-main .module table tbody tr td a {
  color: var(--yellow);
  font-size: 1rem;
}
body #container .main .content .colMS #content-related .module h2,
body #container .main .content .colMS #content-related .module h3,
body #container .main .content .colMS #content-related .module li a {
  color: var(--yellow);
}
body #container .main .content .colMS #content-related .module .mini {
  color: var(--green);
}
body #container .main .content #content h1 {
  font-size: 1.3rem;
}
body #container .main .content #content #content-main p,
body #container .main .content #content #content-related p {
  color: var(--white);
}
body #container .main .content #content #content-main .module,
body #container .main .content #content #content-related .module {
  color: var(--yellow);
}
body #container .main .content #content #content-main .module h2,
body #container .main .content #content #content-related .module h2 {
  color: var(--white);
  background-color: var(--green);
}
body #container .main .content #content #content-main .module table caption,
body #container .main .content #content #content-related .module table caption {
  background-color: var(--green);
  font-size: 1rem;
}
body #container .main .content #content #content-main .module table tbody tr th a,
body #container .main .content #content #content-related .module table tbody tr th a,
body #container .main .content #content #content-main .module table tbody tr td a,
body #container .main .content #content #content-related .module table tbody tr td a {
  color: var(--yellow);
  font-size: 1rem;
}
body #container .main #nav-sidebar {
  flex: 0 0 300px;
}
body #container .main button {
  color: var(--yellow);
}
body #container .main .sticky .module table caption {
  background-color: var(--green);
  font-size: 1rem;
}
body #container .main .sticky .module table tbody tr th a,
body #container .main .sticky .module table tbody tr td a {
  color: var(--yellow);
  font-size: 1rem;
}
body #container #footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--yellow);
  padding: 2em;
}
body #container #footer .beedev-admin-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #container #footer .beedev-admin-footer span {
  margin: 0 1em;
}
body #container #footer .beedev-admin-footer a {
  margin: 0 1em;
}
