{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/user.css'%}?v={% now 'U' %}">
    </head>
  <h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
  <div class="info">
    <h3>Your information:</h3>
      <table class="entry">
        <tr>
          <th>First Name:</th>
          <td>{% if user.first_name %}
            {{user.first_name}}
          {% else %}
            TBD
          {% endif %}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{% if user.last_name %}
            {{user.last_name}}
          {% else %}
            TBD
          {% endif %}</td>
        </tr>
        <tr>
          <th>Username:</th>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th>Personal Email:</th>
          <td>{% if user.email %}
            {{user.email}}
          {% else %}
            TBD
          {% endif %}</td>
        </tr>
      </table>
  </div>
  <div class="info">
  <h3>Company Information</h3>
  <table class="entry">
    <tr>
      <th>Company Name:</th>
      <td>
        {% if company %}
          {{ company.name }}
        {% elif profile.company_name %}
          {{ profile.company_name }}
        {% else %}
          TBD
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Company Email:</th>
      <td>
        {# If your Company model has an `email` field, prefer it #}
        {% if company and company.email %}
          {{ company.email }}
        {% elif profile.company_email %}
          {{ profile.company_email }}
        {% else %}
          TBD
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Company Phone:</th>
      <td>
        {# Same idea for phone; fallback to profile.phone #}
        {% if company and company.phone %}
          {{ company.phone }}
        {% elif profile.phone %}
          {{ profile.phone }}
        {% else %}
          N/A
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Address</th>
      <td>
        {% if company and company.address_line1 or company.city or company.postal_code %}
          <address>
            {% if company.address_line1 %}{{ company.address_line1 }}{% endif %}
            {% if company.address_line2 %}<br>{{ company.address_line2 }}{% endif %}
            {% if company.city %}<br>{{ company.city }}, {{ company.state_region }} {{ company.postal_code }} {{ company.country }}{% endif %}
          </address>
        {% elif profile.address_line1 or profile.city or profile.postal_code %}
          <address>
            {% if profile.address_line1 %}{{ profile.address_line1 }}{% endif %}
            {% if profile.address_line2 %}<br>{{ profile.address_line2 }}{% endif %}
            {% if profile.city %}<br>{{ profile.city }}, {{ profile.state_region }} {{ profile.postal_code }} {{ profile.country }}{% endif %}
          </address>
        {% else %}
          No address on file
        {% endif %}
      </td>
    </tr>
  </table>
</div>

{% endblock content %}
