{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block nav %}
    <nav class="main_nav">
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff or request.user.role == "EMPLOYEE" %}
                <a href="/admin/">Admin</a>
                <a href="{% url 'userApp:employee_home' %}">Employee Dashboard</a>
                <a href="{% url 'userApp:view_employee_profile' %}">Profile</a>
            {% else %}
                <a href="{% url 'userApp:client_home' %}">Dashboard</a>
                <a href="{% url 'userApp:view_client_profile' %}">Profile</a>
                <a href="#">Company Profile</a>
            {% endif %}
            <form method="post" action="{% url 'userApp:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="linklike">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'userApp:login' %}">Login</a>
        {% endif %}

    </nav>
    
    {% endblock nav %}
</body>
</html>     