:root {
  --yellow: #F3DB18;
  --black: #000000;
  --background: #F7F6F0;
  --white: #F5F5F5;
  --green: #426e54;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-display: swap;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .top_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 8px;
}
body header .top_header a {
  font-size: 1.3rem;
  color: var(--black);
}
body header .top_header a img {
  height: 75px;
}
body header .top_header #myLinks {
  display: none;
  color: var(--black);
}
body header .main_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--black);
  padding: 8px 36px;
}
body header .main_nav a {
  color: var(--yellow);
  font-size: 1.3rem;
}
body header .main_nav a:hover {
  color: var(--white);
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
