{% extends "base.html" %}
{% load i18n static %}
{% load page_title %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/proposal.css'%}?v={% now 'U' %}">
</head>
<h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
<div class="mini_menu">
    <h2><a href="{% url 'userApp:employee_home' %}">Dashboard</a></h2>
    <h2><a href="#" class="icon_link"><img src="{% static 'images/hex_plus.png' %}" alt="icon" class="icon"><span>Add New Draft Proposal</span></a></h2>
</div>
<div class="detail">
    <h3>Drafts</h3>
    <table class="entry alt_entry">
        <tr>
            <th>Title</th>
            <th>Status</th>
        </tr>
        {% for d in drafts %}
            <tr>
                <td><a href="{% url 'proposal_staff:draft_detail' d.pk %}">{{d.title}}</a></td>
                <td>{{d.approval_status}}</td>
            </tr>
        {% empty %}
        <tr>
            <td>No drafts found</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="detail">
    <h3>Proposals</h3>
    <table class="entry alt_entry">
        <tr>
            <th>Title</th>
            <th>Status</th>
        </tr>
        {% for p in proposals %}
            <tr>
                <td><a href="{% url 'proposal_staff:proposal_detail' p.pk %}">{{p.title}}</a></td>
                <td>
                    {% with e=p.events.all.0  %}
                        {% if e %}
                            {{e.kind}} at {{e.at|date:"Y-m-d"}}
                        {% else %}
                            No events yet
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% empty %}
        <tr>
            <td>No proposals found</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock content %}
